@import url('https://fonts.googleapis.com/css2?family=Unkempt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
  --paddygreen: #79d70f;
  --dark-orange: #ff8811ff;
  --magnolia: #e8ebf7ff;
  --yellow-green: #8fc93aff;
  --dark-liver-horses: #523a34ff;
  --rich-black-fogra-39: #090c08ff;
}


body{
  background-color: var(--magnolia);
  font-size: 1.2rem;
  font-family: 'Noto Sans JP', sans-serif;
}

header {
  box-shadow: 0 0 1rem #000;
  z-index: 20;
  background-color: var(--paddygreen);
}

section {
  height: 100vh;
  /* font-family: 'Unkempt', cursive; */
  padding-top: 7rem;
}

/*-------------------------NavBar*/
.navbar-nav a {
  text-align: right;
  color: var(--magnolia);
}

/*-------------------------NavBar*/
.navbar{
  font-family: 'Unkempt', cursive;
  background-color: var(--yellow-green);
  color: var(--magnolia);
  margin-bottom : 0;
  border: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 1rem;
}
.navbar-brand{
  color: var(--magnolia);
  padding-left: 15px;
  display: inline-block;
  font-size: 200%;
  font-weight: 600;
  height: 50px;;
  width: 150px;
  text-align: left;
  font-style: italic;
}
.navbar-nav{
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 0;
  margin-right: 0;
}
.navbar-nav li{
  text-align: right;
  color:black;
}
/*------------------------instruction*/
.ins{
  padding: 30px;
}

.game-area {
  border: 5px solid var(--yellow-green);
  margin: 10px;
  border-radius: 10px;
}

.guide {
  border: 5px solid var(--yellow-green);
  margin: 10px;
  border-radius: 10px;
}

.leaderboard {
  padding: 30px;
  border-bottom: 5px solid var(--yellow-green);
}

.restart-btn {
  font-size: 20px;
  background-color: #96bb7c;
  color: #000000;
  margin: 10px;

}
/*----------------------scoreboard*/
.scoreboard{
  text-align: center;
  color: white;
}

/*-------------------------Game gameboard*/
#gameboard{
  display: block;
  margin: auto;
  width: 80%;
  height: 50vh;
  background-image: linear-gradient(
    var(--rich-black-fogra-39) .1em,
    transparent .1em
  ), linear-gradient(
    90deg,
    var(--rich-black-fogra-39) .1em,
    transparent .1em
  );
  background-size: 4em 4em;
}

/*------------------------Fun Fact section */


.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #EEEEEE;
}

.panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: #FAFAFA;
  border-color: #EEEEEE;
}

.panel-title {
  font-size: 14px;
}

.panel-title > a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.more-less {
  float: right;
  color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #EEEEEE;
}

.demo {
  padding-top: 60px;
  padding-bottom: 60px;
}

.panel-title a{
  text-decoration: none;
  color: #040C17;
}



/*-------------------------Footer*/
footer {
  /*margin: 0;*/
  background-color:#335d2d;
  height: 2.5rem;
  padding: 0;
  bottom: 0;
  width: 100%;
}
.social-links{
    padding-bottom: 1.25rem;
    float: none;
}

.social-links li a i {
    height: 2rem;
    width: 2rem;
    padding: 0.75rem 0;
    border-radius: 50%;
    font-size: 1.25rem;
    line-height: 0.625rem;
    text-align: center;
    color: #fff;
    background-color: #000;
}

.list-inline-items {
    padding: 0.625rem;
    display: inline-block;
}
#footer-details{
    text-align: center;
  }
