@import url('https://fonts.googleapis.com/css2?family=Unkempt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
  --paddygreen: #79d70f;
  --dark-orange: #ff8811ff;
  --magnolia: #e8ebf7ff;
  --yellow-green: #8fc93aff;
  --dark-liver-horses: #523a34ff;
  --rich-black-fogra-39: #090c08ff;
}


body{
  background-color: var(--magnolia);
  font-size: 1.2rem;
  font-family: 'Noto Sans JP', sans-serif;
}

header {
  box-shadow: 0 0 1rem #000;
  z-index: 20;
  background-color: var(--paddygreen);
}

section {
  /* height: 100vh; */
  /* font-family: 'Unkempt', cursive; */
  padding-top: 7rem;
}

h2 {
  font-family: "Unkempt", cursive;
}

/*-------------------------NavBar*/
.navbar-nav a {
  text-align: right;
  color: var(--magnolia);
}

/*-------------------------NavBar*/
.navbar{
  font-family: 'Unkempt', cursive;
  background-color: var(--yellow-green);
  color: var(--magnolia);
  margin-bottom : 0;
  border: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 1rem;
}
.navbar-brand{
  color: var(--magnolia);
  padding-left: 15px;
  display: inline-block;
  font-size: 200%;
  font-weight: 600;
  height: 50px;;
  width: 150px;
  text-align: left;
  font-style: italic;
}
.navbar-nav{
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 0;
  margin-right: 0;
}
.navbar-nav li{
  text-align: right;
  color:black;
}
/*------------------------instruction*/
.game-container {
  border: 5px solid var(--yellow-green);
  border-radius: 10px;
  padding: 20px 20px;
  margin: 20px auto;
}

.ins{
  padding: 30px;
}

.game-title {
  text-align: center;
  font-family: 'Unkempt', cursive;
  vertical-align: middle;
}

.game-area {
  padding: 10px;
}

.game-button-div {
  align-items: center;
}

.game-button {
  background-color: var(--yellow-green);
  border-radius: 50%;
  margin: 10px;
}

.guide {
  border: 5px solid var(--yellow-green);
  margin: 10px;
  border-radius: 10px;
}

.leaderboard {
  padding: 30px;
  border-bottom: 5px solid var(--yellow-green);
}

@media (max-width: 992px) {
  .leaderboard {
    border-bottom: none;
  }
}

/*-------------------------Game gameboard*/
#gameboard{
  display: block;
  margin: auto;
  width: 80%;
  height: 90%;
  background-image: linear-gradient(
    45deg, #808080 25%,
    transparent 25%
  ), linear-gradient(
    -45deg, #808080 25%,
    transparent 25%
  ), linear-gradient(
    45deg,
    transparent 75%,
    #808080 75%
  ), linear-gradient(
    -45deg,
    transparent 75%,
    #808080 75%
  );
  background-size: 40px 40px;
  background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
  border: 20px solid transparent;
  border-image: url(../images/snake_border.png) 50 round;
}

/*------------------------Fun Fact section */

.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #EEEEEE;
}

.panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: #FAFAFA;
  border-color: #EEEEEE;
}

.panel-title {
  font-size: 14px;
}

.panel-title > a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.more-less {
  float: right;
  color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #EEEEEE;
}

.demo {
  padding-top: 60px;
  padding-bottom: 60px;
}

.panel-title a{
  text-decoration: none;
  color: #040C17;
}
.panel-body p{
  font-family: 'Nato';
  font-size: 16px;

}



/*-------------------------Footer*/
h5 {
  font-family: "Unkempt", cursive;
}

footer {
  margin-top: 40px;
  background-color: var(--yellow-green);
  padding: 10px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer ul {
  padding: 0;
}

.credit-list {
  background-color: transparent;
  margin: 0;
  padding: 2px 2px;
  font-size: small;
  border-left: none;
  border-right: none;
}

.footer-div {
  background-color: transparent;
}

/* Score Modal */

#scoreModal {
  text-align: center;
  font-family: "Unkempt", cursive;
  
}

#scoreModal .modal-header {
  border-bottom: none;
}

#scoreModal .modal-footer {
  border-top: none;
}

#scoreModal .modal-content {
  border-radius: 50%;
  background-color: var(--yellow-green);
}

#scoreModal .modal-footer button {
  background-color: var(--dark-orange);
  border-radius: 50%;
}

#scoreModal input {
  width: 60%;
  margin: auto;
}

#id-game-container {
  position: relative;
}


#pause-modal{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: rgba(255, 255, 255, .85);
} 

#pause-modal.hidden {
  display: none;
}


#id-game-container {
  margin: 0;
}


#game-board {
  margin: auto;
  width: 40rem;
  height: 40rem; 
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
  border: 20px solid transparent;
  border-image: url(../images/snake-border.png) 50 round;

}



.snake {
  background-color: #335d2d;
  border: .25vmin solid black;
}

.food {
  background-image: url(../images/guiness_ico.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* quiz */

.quiz-container {
  padding: 20px 10px;
  margin: 20px 0px;
  border-radius: 10px;
  border: 5px solid var(--yellow-green);
  text-align: center;
}

.quiz-container h3, .quiz-container h4 {
  font-family: "Unkempt", cursive;
}

.question-div {
  background-color: rgba(0, 0, 0, .15);
  padding: 20px;
  border-radius: 10px;
}

.image-div {
  height: 200px;
}

.quiz-image {
  height: 100%;
  border: 5px solid var(--dark-orange);
}

.question {
  margin-top: 20px;
}

.answer {
  padding: 20px 20px;
}

.answer-button {
  width: 100%;
  height: 100%;
  border: 5px solid var(--dark-orange);
}

.answer-button:hover {
  background-color: var(--dark-orange);
}


/* spotify container */

.spotify-container {
  text-align: center;
  border: 5px solid var(--yellow-green);
  padding: 10px 10px;
  border-radius: 10px;
  margin-top: 20px;
}

/* alert story */
.story-alert {
  font-family: "Unkempt", cursive;
  text-align: center;
  border: 2px solid var(--yellow-green);
  background-color: rgba(143, 201, 58, .3);
  color: green;
  max-height: 300px;
  margin: 10px 5px;
  font-size: 28px;
}

.alert-image {
  height: 90%;
}

.story-image-div {
  height: auto;
  max-height: 100px;
}

@media only screen and (max-width: 700px) {
  #game-board {
    margin: auto;
    width: 30rem;
    height: 30rem; 
  }
}